{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
		<h1>{{ entry.title }}</h1>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		{{ entry.body }}
	</article>

<form class="form-horizontal" method="post" action="">
                {{ forms.hidden({ name : 'action', value: 'charge/charge' }) }}
                {# {{ forms.hidden({ name : 'redirect', value: 'charge/thanks/{hash}' }) }} #}
                {{ forms.hidden({ name : 'redirect', value: 'themes/thanks' }) }}
                
                {{ getCsrfInput() }}

                {% set options = {
                    planAmount : 32.50,
                    checkout : {
                        name: 'Acme ltd.',
                        image: 'https://s3.amazonaws.com/stripe-uploads/hSYxIZGM3U0DbmPKsJszRHm3OU3D4CtHmerchant-icon-641868-add-on-icon.png',
                        label: 'Buy Now!',
                        description: '1 x Awesome Product',
                        actions: {
			                'onSuccess': {
			                    'subscription' : 'silver'
			                },
			            },
                    }
                } %}
                {{ craft.charge.setCheckoutOptions(options) }}
            </form>	





{% endblock %}

