{% import 'themes/_includes/macros/forms' as forms %}
{% import 'themes/_includes/macros/stripe' as stripe %}

{% set tabs = {
    '' : 'Overview',
    'basic' : 'Basic Payment',
    'donation' : 'Donation Form',
    'checkout' : 'Stripe Checkout',
    'plans' : 'Plan Choice',
    'actions' : 'Triggered Actions',
    'subscriptions' : 'Subscriptions',
    'cards' : 'Saved Cards',
    'coupons' : 'Coupons',
    'fields' : 'Extra Fields',
    'metadata' : 'Metadata',
    'account' : 'My Account',
    'guestreg' : 'Guest Registration'} %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}"/>


    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/spinner.css">
</head>

<body>

<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ siteUrl }}">{{ siteName }}</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/charge">Charge</a></li>
                <li><a href="{{ logoutUrl }}">{% if currentUser %}Hi {{ currentUser.friendlyName }} (logout){% else %}(guest){% endif %}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>

    <ul class="nav nav-tabs">
        {% for key, tab in tabs %}
            <li {% if craft.request.getSegment(2) == key %}class="active"{% endif %}><a
                        href="{{ url('charge/'~key) }}">{{ tab }}</a></li>
        {% endfor %}
    </ul>

    {% block content %}

        <div class="jumbotron">
            <h1>Craft Base Build</h1>

            <p>This is a test build</p>

            <p>
                <a class="btn btn-lg btn-primary" href="/charge" role="button">Charge for Craft &rarr;</a>
            </p>
        </div>

    {% endblock %}


</div> <!-- /container -->


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% includeJsResource('charge/js/jquery.charge.js') %}
{% includeJsResource('charge/js/stripe_v2.min.js') %}
{% includejs %}
    $(this).charge();
{% endincludejs %}

</body>
</html>
